<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <script type="text/javascript">
      $(document).ready(() => {
        $('#tblDepartments').DataTable({
            "paging": true,
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            'ajax': {
                'type': 'GET',
                'url': '/departments/list'
            },
            'columns':
                [
                { 'data': '' },
                { 'data': 'name', "defaultContent": "", 'name': 'Dept Name' },
                { 'data': 'code', "defaultContent": "", 'name': 'Dept Code' },
                { 'data': 'short_code', "defaultContent": "", 'name': 'Short Code' },
                { 'data': 'sequence_no', "defaultContent": "", 'name': 'Sequence No' },
                { 'data': 'active', "defaultContent": "", 'name': 'Active' },
                ],
                'columnDefs': [{
                  'targets': 0,
                  'searchable':false,
                  'orderable':false,
                  'className': 'dt-body-center',
                  'render': function (data, type, full, meta){
                      return '<input type="checkbox" name="id[]" value="'
                          + $('<div/>').text(data).html() + '">';
                  }
                }],
              'order': [1, 'asc']
        });
        // Handle click on "Select all" control
        $('#tblDepartments-select-all').on('click', function(){
              // Check/uncheck all checkboxes in the table
              var rows = table.rows({ 'search': 'applied' }).nodes();
              $('input[type="checkbox"]', rows).prop('checked', this.checked);
          });

          // Handle click on checkbox to set state of "Select all" control
          $('#tblDepartments tbody').on('change', 'input[type="checkbox"]', function(){
              // If checkbox is not checked
              if(!this.checked){
                var el = $('#tblDepartments-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control 
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
              }
          });
        $("#form").submit((event) => {
          event.preventDefault();
          $("#btnSave").html("Please Wait...");
          /*$.ajax({
            type: 'POST',
            url: '/department',
            data: $('#form').serialize(),
            dataType: "json",
            success: (response) => {
              console.log("Success");
              Snackbar.show({ pos: "top-center", showAction: false, backgroundColor: "#398C09", text: "Saved Successfully" });
              $('#form')[0].reset();
            },
            error: (error) => {
              myJSON = JSON.stringify(error);
              console.log("Error");
              Snackbar.show({ pos: "top-center", showAction: false, backgroundColor: "#ED4F32", text: JSON.parse($.parseJSON(myJSON).responseText).errorMessage });
            }
          })*/
          $("#btnSave").html("Save");
        });
        $("#btncancel").click(function() {
          $('#form')[0].reset();
        });
        $("#btnAdd").click(function() {
          window.location.href = "/department";
        });
      });
    </script>
</head>

<body>
  <%- include('../partials/header'); %>
    <section>
      <div class="container-fluid">
        <div class="row">
          <%- include('../partials/sidebar'); %>
            <main method="post" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h5 class="h5">Departments</h5>
              </div>
              <form class="row g-1" id="form" method="POST">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button id="btnAdd" class="btn btn-primary me-md-2" type="button">Add</button>
                  <button id="btnDelete" class="btn btn-danger" type="button">Delete</button>
                </div>
                <div class="table-responsive">
                  <table id="tblDepartments" class="table table-sm">
                    <thead>
                      <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Short Code</th>
                        <th>Sequence No</th>
                        <th>Active</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </form>
            </main>
        </div>
      </div>
    </section>
    <%- include('../partials/footer'); %>
</body>

</html>