<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link href="/css/signin.css" rel="stylesheet">
    <script type="text/javascript">
      $(document).ready( () => {
        $( "#form" ).submit( (event) => {
          event.preventDefault();
          $.ajax({
            type: 'POST',
            url: '/login',
            data: $('#form').serialize(),
            dataType: "json",
            success: (response) => {
              window.location.href = "/home";
            },
            error: (error) => {
              Snackbar.show({pos: "top-center", showAction: false, backgroundColor: "#ED4F32", text: error.statusText});
            }
          })
        });
      });
    </script>
</head>

<body class="text-center">

    <main class="form-signin">
        <form id="form" method="post">
            <div class="card">
                <div class="card-body p-4">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div class="form-outline mb-4">
          <label for="inputEmail" class="visually-hidden">User name</label>
          <input type="text" id="inputEmail" name="userName" class="form-control" placeholder="User name" required autofocus>
        </div>
        <div class="form-outline mb-4">
          <label for="inputPassword" class="visually-hidden">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        </div>
          <button class="w-100 btn btn-primary btn-block mb-4" type="submit">Sign in</button>
        </div>
        </div>
        </form>
      </main>
    
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>