<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <script type="text/javascript">
      $(document).ready(() => {
        $("#form").submit((event) => {
          event.preventDefault();
          $("#btnSave").html("Please Wait...");
          $.ajax({
            type: 'POST',
            url: '/roleMaintenance',
            data: $('#form').serialize(),
            dataType: "json",
            success: (response) => {
              console.log("Success");
              Snackbar.show({ pos: "top-center", showAction: false, backgroundColor: "#398C09", text: "Saved Successfully" });
              $('#form')[0].reset();
            },
            error: (error) => {
              myJSON = JSON.stringify(error);
              console.log("Error");
              Snackbar.show({ pos: "top-center", showAction: false, backgroundColor: "#ED4F32", text: JSON.parse($.parseJSON(myJSON).responseText).errorMessage });
            }
          })
          $("#btnSave").html("Save");
        });
        $("#btncancel").click(function() {
          $('#form')[0].reset();
        });
      });
    </script>
</head>

<body>
  <%- include('../partials/header'); %>
    <section>
      <div class="container-fluid">
        <div class="row">
          <%- include('../partials/sidebar'); %>
            <main method="post" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              <h1 class="h2">Role Maintenance</h1>
              <form class="row g-1" id="form" method="POST">
                <div class="row g-2">
                  <div class="col-5">
                    <input type="text" class="form-control" name="roleName" required placeholder="Role Name">
                  </div>
                  </div>
                <div class="row g-2">
                  <div class="col-5">
                    <input type="text" class="form-control" name="roleCode" required placeholder="Role Code">
                  </div>
                </div>
               
                <div class="row g-2">
                  <div class="col-5">
                    <button class="btn btn-primary btn-block mb-5" type="submit" id="btnSave">Save</button>
                    <button class="btn btn-primary btn-block mb-5" type="reset" id="btncancel">Cancel</button>
                  </div>
                </div>
              </form>
            </main>
        </div>
      </div>
    </section>
    <%- include('../partials/footer'); %>
</body>

</html>