<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/testCreation">
           Test Creation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/roleMaintenance">
           Role Maintenance
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/departments">
           Departments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            menu 2
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registration">
            Registration
          </a>
        </li>
      </ul>
    </div>
  </nav>